In [1]:
# pip install duckdb==0.8.0

In [31]:
import duckdb 
connection = duckdb.connect()

In [32]:
import os
data_folder = 'data'

csv_files = [f for f in os.listdir(data_folder) if f.endswith('.csv')]

relations = {}

for file in csv_files:
    file_path = os.path.join(data_folder, file)
    rel = duckdb.read_csv(file_path)
    relations[file] = rel

Now that all the csv files are properly loaded, raw data will be processed into useful tabular data.

### Data profiling

In [33]:
import pandas as pd

'''
This function extracts summary statistics 
and other descriptive values for datasets
'''

def data_profiling(dataset_path):
    # Load CSV into a Pandas DataFrame
    df = pd.read_csv(dataset_path)
    # Features (columns)
    print("Features:\n", df.columns.tolist())
    
    # Number of rows
    print(f"Number of rows: {len(df)}")
    
    # Summary statistics for each column
    for col in df.columns:
        print(f"\nFeature: {col}\n{df[col].describe()}")
    
    # Missing values
    print("\nMissing values per column:\n", df.isnull().sum())
    
    # Unique values
    print("\nUnique values per column:")
    for col in df.columns:
        print(f"{col}: {df[col].nunique()} unique values")
        
    # Duplicate rows
    print("\nDuplicate rows:", df.duplicated().sum())

In [17]:
datasets = [dataset for dataset in relations]
datasets

['circuits.csv',
 'status.csv',
 'lap_times.csv',
 'sprint_results.csv',
 'drivers.csv',
 'races.csv',
 'constructors.csv',
 'constructor_standings.csv',
 'qualifying.csv',
 'driver_standings.csv',
 'constructor_results.csv',
 'pit_stops.csv',
 'seasons.csv',
 'results.csv']

### Circuits

In [18]:
circuits = pd.read_csv("data/circuits.csv")
data_profiling("data/circuits.csv")

Features:
 ['circuitId', 'circuitRef', 'name', 'location', 'country', 'lat', 'lng', 'alt', 'url']
Number of rows: 77

Feature: circuitId
count    77.000000
mean     39.883117
std      23.001701
min       1.000000
25%      20.000000
50%      40.000000
75%      59.000000
max      80.000000
Name: circuitId, dtype: float64

Feature: circuitRef
count              77
unique             77
top       albert_park
freq                1
Name: circuitRef, dtype: object

Feature: name
count                                 77
unique                                77
top       Albert Park Grand Prix Circuit
freq                                   1
Name: name, dtype: object

Feature: location
count            77
unique           75
top       Barcelona
freq              2
Name: location, dtype: object

Feature: country
count      77
unique     35
top       USA
freq       11
Name: country, dtype: object

Feature: lat
count    77.000000
mean     33.442925
std      22.808866
min     -37.849700
25%      32.777400
50%      40.951700
75%      46.958900
max      57.265300
Name: lat, dtype: float64

Feature: lng
count     77.000000
mean       1.076683
std       65.516951
min     -118.189000
25%       -9.394170
50%        3.930830
75%       19.248600
max      144.968000
Name: lng, dtype: float64

Feature: alt
count      77.000000
mean      247.012987
std       362.738469
min        -7.000000
25%        18.000000
50%       129.000000
75%       332.000000
max      2227.000000
Name: alt, dtype: float64

Feature: url
count                                                    77
unique                                                   77
top       http://en.wikipedia.org/wiki/Melbourne_Grand_P...
freq                                                      1
Name: url, dtype: object

Missing values per column:
 circuitId     0
circuitRef    0
name          0
location      0
country       0
lat           0
lng           0
alt           0
url           0
dtype: int64

Unique values per column:
circuitId: 77 unique values
circuitRef: 77 unique values
name: 77 unique values
location: 75 unique values
country: 35 unique values
lat: 77 unique values
lng: 77 unique values
alt: 66 unique values
url: 77 unique values

Duplicate rows: 0

Every circuit has a unique id and name, location, and its own latitude, longitude and altitude, the latter which is aerodinamically important and contextualizes the model.

All values seem to be within reasonable boundaries, with correct datatypes and consistent counts.

Some altitude and location values are shared, which makes sense since many tracks share similar altitudes due to proximity.

In [19]:
alt_counts = circuits['alt'].value_counts()
for alt_value in alt_counts.index:
    count = alt_counts[alt_value]
    if count > 1:
        matching_rows = circuits[circuits['alt'] == alt_value][['name', 'country']]
        for _, row in matching_rows.iterrows():
            print(f"{count} {row['name']} ({row['country']})")

3 Sepang International Circuit (Malaysia)
3 Marina Bay Street Circuit (Singapore)
3 Sebring International Raceway (USA)
2 Autodromo Enzo e Dino Ferrari (Italy)
2 Circuito de Jerez (Spain)
2 Silverstone Circuit (UK)
2 Scandinavian Raceway (Sweden)
2 Korean International Circuit (Korea)
2 Miami International Autodrome (USA)
2 Donington Park (UK)
2 Reims-Gueux (France)
2 Prince George Circuit (South Africa)
2 Jeddah Corniche Circuit (Saudi Arabia)
2 Fair Park (USA)
2 Nivelles-Baulers (Belgium)
2 Long Beach (USA)
2 Losail International Circuit (Qatar)
2 Bahrain International Circuit (Bahrain)
2 Circuit de Monaco (Monaco)
2 Istanbul Park (Turkey)
2 Autódromo do Estoril (Portugal)

### Laptimes

In [20]:
laptimes = pd.read_csv("data/lap_times.csv")
data_profiling("data/lap_times.csv")

Features:
 ['raceId', 'driverId', 'lap', 'position', 'time', 'milliseconds']
Number of rows: 575989

Feature: raceId
count    575989.000000
mean        588.321155
std         431.564765
min           1.000000
25%         137.000000
50%         856.000000
75%         994.000000
max        1132.000000
Name: raceId, dtype: float64

Feature: driverId
count    575989.000000
mean        316.035923
std         384.567928
min           1.000000
25%          16.000000
50%          44.000000
75%         821.000000
max         860.000000
Name: driverId, dtype: float64

Feature: lap
count    575989.000000
mean         30.014316
std          18.412948
min           1.000000
25%          14.000000
50%          29.000000
75%          44.000000
max          87.000000
Name: lap, dtype: float64

Feature: position
count    575989.000000
mean          9.659827
std           5.531333
min           1.000000
25%           5.000000
50%           9.000000
75%          14.000000
max          24.000000
Name: position, dtype: float64

Feature: time
count       575989
unique       75523
top       1:21.571
freq            43
Name: time, dtype: object

Feature: milliseconds
count    5.759890e+05
mean     9.581151e+04
std      7.686257e+04
min      5.540400e+04
25%      8.197400e+04
50%      9.065000e+04
75%      1.019710e+05
max      7.507547e+06
Name: milliseconds, dtype: float64

Missing values per column:
 raceId          0
driverId        0
lap             0
position        0
time            0
milliseconds    0
dtype: int64

Unique values per column:
raceId: 532 unique values
driverId: 141 unique values
lap: 87 unique values
position: 24 unique values
time: 75523 unique values
milliseconds: 75523 unique values

Duplicate rows: 0

In [21]:
threshold = laptimes["milliseconds"].mean() + 3 * laptimes["milliseconds"].std()  
outlier_count = (laptimes["milliseconds"] > threshold).sum()
print(f"There are {outlier_count} outliers in this dataset")

There are 681 outliers in this dataset

This dataset includes the time for each lap for each driver for every single race in history. The most meaningful features is time, both in M:S:MS and MS, which seems to be within a reasonable range, with some outliers on the high end. There are 681 outliers in this dataset, which represents 0.12% of the total count. 

Laptime information might be aggregated to compute a more meaningful driver metric (average pace, degradation), this outliers are not going to be of harm for the analysis, and some might go away after the 2014 and forward cutoff is applied.

### Drivers

In [22]:
drivers = pd.read_csv("data/drivers.csv")
data_profiling("data/drivers.csv")

Features:
 ['driverId', 'driverRef', 'number', 'code', 'forename', 'surname', 'dob', 'nationality', 'url']
Number of rows: 859

Feature: driverId
count    859.000000
mean     430.059371
std      248.213115
min        1.000000
25%      215.500000
50%      430.000000
75%      644.500000
max      860.000000
Name: driverId, dtype: float64

Feature: driverRef
count          859
unique         859
top       hamilton
freq             1
Name: driverRef, dtype: object

Feature: number
count     859
unique     47
top        \N
freq      802
Name: number, dtype: object

Feature: code
count     859
unique     97
top        \N
freq      757
Name: code, dtype: object

Feature: forename
count      859
unique     478
top       John
freq        14
Name: forename, dtype: object

Feature: surname
count        859
unique       800
top       Taylor
freq           5
Name: surname, dtype: object

Feature: dob
count            859
unique           841
top       1918-10-06
freq               2
Name: dob, dtype: object

Feature: nationality
count         859
unique         42
top       British
freq          166
Name: nationality, dtype: object

Feature: url
count                                             859
unique                                            859
top       http://en.wikipedia.org/wiki/Lewis_Hamilton
freq                                                1
Name: url, dtype: object

Missing values per column:
 driverId       0
driverRef      0
number         0
code           0
forename       0
surname        0
dob            0
nationality    0
url            0
dtype: int64

Unique values per column:
driverId: 859 unique values
driverRef: 859 unique values
number: 47 unique values
code: 97 unique values
forename: 478 unique values
surname: 800 unique values
dob: 841 unique values
nationality: 42 unique values
url: 859 unique values

Duplicate rows: 0

This dataset includes driver id, reference name, code, and demographics related to the driver. Datatypes, counts and frequencies are coherent. The number and code columns have missing data in the form of “\N”, these instances will be dealt with after the 2014 cutoff is applied, if necessary. Once the mentioned cut off is applied, the number of drivers will greatly decrease. Out of all the variables, age of the driver might be one of the most meaningful features of the dataset, but apart from that, this dataset’s purpose will be to link the driver to each of their performance once aggregation is performed between the datasets, using the driverid identifier.

### Races

In [23]:
races = pd.read_csv("data/races.csv")
data_profiling("data/races.csv")

Features:
 ['raceId', 'year', 'round', 'circuitId', 'name', 'date', 'time', 'url', 'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time']
Number of rows: 1125

Feature: raceId
count    1125.000000
mean      565.710222
std       328.813817
min         1.000000
25%       282.000000
50%       563.000000
75%       845.000000
max      1144.000000
Name: raceId, dtype: float64

Feature: year
count    1125.000000
mean     1992.703111
std        20.603848
min      1950.000000
25%      1977.000000
50%      1994.000000
75%      2011.000000
max      2024.000000
Name: year, dtype: float64

Feature: round
count    1125.000000
mean        8.579556
std         5.159910
min         1.000000
25%         4.000000
50%         8.000000
75%        13.000000
max        24.000000
Name: round, dtype: float64

Feature: circuitId
count    1125.000000
mean       23.889778
std        19.633527
min         1.000000
25%         9.000000
50%        18.000000
75%        34.000000
max        80.000000
Name: circuitId, dtype: float64

Feature: name
count                   1125
unique                    54
top       Italian Grand Prix
freq                      75
Name: name, dtype: object

Feature: date
count           1125
unique          1125
top       2009-03-29
freq               1
Name: date, dtype: object

Feature: time
count     1125
unique      35
top         \N
freq       731
Name: time, dtype: object

Feature: url
count                                                  1125
unique                                                 1125
top       http://en.wikipedia.org/wiki/2009_Australian_G...
freq                                                      1
Name: url, dtype: object

Feature: fp1_date
count     1125
unique      91
top         \N
freq      1035
Name: fp1_date, dtype: object

Feature: fp1_time
count     1125
unique      21
top         \N
freq      1057
Name: fp1_time, dtype: object

Feature: fp2_date
count     1125
unique      91
top         \N
freq      1035
Name: fp2_date, dtype: object

Feature: fp2_time
count     1125
unique      20
top         \N
freq      1057
Name: fp2_time, dtype: object

Feature: fp3_date
count     1125
unique      73
top         \N
freq      1053
Name: fp3_date, dtype: object

Feature: fp3_time
count     1125
unique      19
top         \N
freq      1072
Name: fp3_time, dtype: object

Feature: quali_date
count     1125
unique      91
top         \N
freq      1035
Name: quali_date, dtype: object

Feature: quali_time
count     1125
unique      16
top         \N
freq      1057
Name: quali_time, dtype: object

Feature: sprint_date
count     1125
unique      19
top         \N
freq      1107
Name: sprint_date, dtype: object

Feature: sprint_time
count     1125
unique      13
top         \N
freq      1110
Name: sprint_time, dtype: object

Missing values per column:
 raceId         0
year           0
round          0
circuitId      0
name           0
date           0
time           0
url            0
fp1_date       0
fp1_time       0
fp2_date       0
fp2_time       0
fp3_date       0
fp3_time       0
quali_date     0
quali_time     0
sprint_date    0
sprint_time    0
dtype: int64

Unique values per column:
raceId: 1125 unique values
year: 75 unique values
round: 24 unique values
circuitId: 77 unique values
name: 54 unique values
date: 1125 unique values
time: 35 unique values
url: 1125 unique values
fp1_date: 91 unique values
fp1_time: 21 unique values
fp2_date: 91 unique values
fp2_time: 20 unique values
fp3_date: 73 unique values
fp3_time: 19 unique values
quali_date: 91 unique values
quali_time: 16 unique values
sprint_date: 19 unique values
sprint_time: 13 unique values

Duplicate rows: 0

This dataset includes raceid, year, round, circuit id, and other race specific columns. Datatypes, counts and frequencies are coherent. The date and time columns for the races have some values in the form “\N”, these instances will be dealt with after the 2014 cutoff is applied, if necessary, since it is likely that date and time was not recorded for these old races. Once the mentioned cut off is applied. Out of all the variables, raceId is a very important one since it will be used to link the races to each driver, year, round and circuit id will be useful too. The missing values in the FP1/FP2/FP3 times and dates sprint session fields the race “time” column most likely will not be included in the analysis, and their "missigness" does not represent data corruption, which is something good. URL field is a useless column.

### Constructors

In [24]:
constructors = pd.read_csv("data/constructors.csv")
data_profiling("data/constructors.csv")

Features:
 ['constructorId', 'constructorRef', 'name', 'nationality', 'url']
Number of rows: 212

Feature: constructorId
count    212.000000
mean     107.547170
std       61.952685
min        1.000000
25%       54.750000
50%      107.500000
75%      160.250000
max      215.000000
Name: constructorId, dtype: float64

Feature: constructorRef
count         212
unique        212
top       mclaren
freq            1
Name: constructorRef, dtype: object

Feature: name
count         212
unique        212
top       McLaren
freq            1
Name: name, dtype: object

Feature: nationality
count         212
unique         24
top       British
freq           86
Name: nationality, dtype: object

Feature: url
count                                                 212
unique                                                175
top       http://en.wikipedia.org/wiki/Cooper_Car_Company
freq                                                   11
Name: url, dtype: object

Missing values per column:
 constructorId     0
constructorRef    0
name              0
nationality       0
url               0
dtype: int64

Unique values per column:
constructorId: 212 unique values
constructorRef: 212 unique values
name: 212 unique values
nationality: 24 unique values
url: 175 unique values

Duplicate rows: 0

The datatypes in this datasets are coherent, everything seems to be in order. The constructorID column might be the only useful variable in this dataset, this dataset can be used to understand patterns of constructors, and its main purpose will be a connective one. After the 2014 cutoff, many of the constructors will go away

### Qualifying

In [25]:
quali = pd.read_csv("data/qualifying.csv") 
data_profiling("data/qualifying.csv")

Features:
 ['qualifyId', 'raceId', 'driverId', 'constructorId', 'number', 'position', 'q1', 'q2', 'q3']
Number of rows: 10274

Feature: qualifyId
count    10274.000000
mean      5151.583122
std       2982.227118
min          1.000000
25%       2570.250000
50%       5139.500000
75%       7728.750000
max      10331.000000
Name: qualifyId, dtype: float64

Feature: raceId
count    10274.000000
mean       613.585945
std        426.121490
min          1.000000
25%        140.000000
50%        866.000000
75%        998.000000
max       1133.000000
Name: raceId, dtype: float64

Feature: driverId
count    10274.000000
mean       334.164201
std        387.230090
min          1.000000
25%         16.000000
50%         56.000000
75%        822.000000
max        860.000000
Name: driverId, dtype: float64

Feature: constructorId
count    10274.000000
mean        46.972357
std         72.500393
min          1.000000
25%          4.000000
50%          9.000000
75%         30.000000
max        215.000000
Name: constructorId, dtype: float64

Feature: number
count    10274.000000
mean        18.543703
std         18.260062
min          0.000000
25%          7.000000
50%         14.000000
75%         22.000000
max         99.000000
Name: number, dtype: float64

Feature: position
count    10274.000000
mean        11.210726
std          6.269684
min          1.000000
25%          6.000000
50%         11.000000
75%         16.000000
max         28.000000
Name: position, dtype: float64

Feature: q1
count     10274
unique     8970
top          \N
freq        154
Name: q1, dtype: object

Feature: q2
count     10261
unique     5331
top          \N
freq       4577
Name: q2, dtype: object

Feature: q3
count     10247
unique     3382
top          \N
freq       6723
Name: q3, dtype: object

Missing values per column:
 qualifyId         0
raceId            0
driverId          0
constructorId     0
number            0
position          0
q1                0
q2               13
q3               27
dtype: int64

Unique values per column:
qualifyId: 10274 unique values
raceId: 483 unique values
driverId: 170 unique values
constructorId: 47 unique values
number: 55 unique values
position: 28 unique values
q1: 8970 unique values
q2: 5331 unique values
q3: 3382 unique values

Duplicate rows: 0

This dataset contains all the link columns for races, constructors and drivers. The values in each column are coherent. The position column is promising since position can be derived into a driver average starting position, which is a determining factor in a race. The missing values in the form “\N” in q2 and q3 are likely from the 2006 and forward since this is the year where this type of qualifying procedure started. The position variable in laptimes and the position here overlap, so that is something that will have to be dealt with.

### Results

In [26]:
results = pd.read_csv("data/results.csv") 
data_profiling("data/results.csv")

Features:
 ['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid', 'position', 'positionText', 'positionOrder', 'points', 'laps', 'time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime', 'fastestLapSpeed', 'statusId']
Number of rows: 26539

Feature: resultId
count    26539.000000
mean     13270.944045
std       7662.590055
min          1.000000
25%       6635.500000
50%      13270.000000
75%      19904.500000
max      26544.000000
Name: resultId, dtype: float64

Feature: raceId
count    26539.000000
mean       546.818644
std        309.943887
min          1.000000
25%        298.000000
50%        527.000000
75%        804.000000
max       1133.000000
Name: raceId, dtype: float64

Feature: driverId
count    26539.000000
mean       274.718791
std        279.565408
min          1.000000
25%         57.000000
50%        170.000000
75%        386.000000
max        860.000000
Name: driverId, dtype: float64

Feature: constructorId
count    26539.000000
mean        49.833038
std         61.130307
min          1.000000
25%          6.000000
50%         25.000000
75%         62.000000
max        215.000000
Name: constructorId, dtype: float64

Feature: number
count     26539
unique      130
top           4
freq       1008
Name: number, dtype: object

Feature: grid
count    26539.000000
mean        11.144580
std          7.212613
min          0.000000
25%          5.000000
50%         11.000000
75%         17.000000
max         34.000000
Name: grid, dtype: float64

Feature: position
count     26539
unique       34
top          \N
freq      10929
Name: position, dtype: object

Feature: positionText
count     26539
unique       39
top           R
freq       8877
Name: positionText, dtype: object

Feature: positionOrder
count    26539.000000
mean        12.813068
std          7.676871
min          1.000000
25%          6.000000
50%         12.000000
75%         18.000000
max         39.000000
Name: positionOrder, dtype: float64

Feature: points
count    26539.000000
mean         1.961945
std          4.310209
min          0.000000
25%          0.000000
50%          0.000000
75%          2.000000
max         50.000000
Name: points, dtype: float64

Feature: laps
count    26539.000000
mean        46.244470
std         29.573424
min          0.000000
25%         23.000000
50%         53.000000
75%         66.000000
max        200.000000
Name: laps, dtype: float64

Feature: time
count     26539
unique     7283
top          \N
freq      18995
Name: time, dtype: object

Feature: milliseconds
count     26539
unique     7504
top          \N
freq      18995
Name: milliseconds, dtype: object

Feature: fastestLap
count     26539
unique       81
top          \N
freq      18499
Name: fastestLap, dtype: object

Feature: rank
count     26539
unique       26
top          \N
freq      18249
Name: rank, dtype: object

Feature: fastestLapTime
count     26539
unique     7315
top          \N
freq      18499
Name: fastestLapTime, dtype: object

Feature: fastestLapSpeed
count     26539
unique     7532
top          \N
freq      18499
Name: fastestLapSpeed, dtype: object

Feature: statusId
count    26539.000000
mean        17.308075
std         26.074266
min          1.000000
25%          1.000000
50%         10.000000
75%         14.000000
max        141.000000
Name: statusId, dtype: float64

Missing values per column:
 resultId           0
raceId             0
driverId           0
constructorId      0
number             0
grid               0
position           0
positionText       0
positionOrder      0
points             0
laps               0
time               0
milliseconds       0
fastestLap         0
rank               0
fastestLapTime     0
fastestLapSpeed    0
statusId           0
dtype: int64

Unique values per column:
resultId: 26539 unique values
raceId: 1114 unique values
driverId: 859 unique values
constructorId: 211 unique values
number: 130 unique values
grid: 35 unique values
position: 34 unique values
positionText: 39 unique values
positionOrder: 39 unique values
points: 39 unique values
laps: 172 unique values
time: 7283 unique values
milliseconds: 7504 unique values
fastestLap: 81 unique values
rank: 26 unique values
fastestLapTime: 7315 unique values
fastestLapSpeed: 7532 unique values
statusId: 137 unique values

Duplicate rows: 0

This dataset contains all the results for every race, it has id columns that will make it possible to link them to each constructor and driver. It includes important variables such as position, points, laps, time, fastest lap, these columns will be of importance for our analysis since they can be derived into more technical characteristics of a driver. Some columns overlap, which will be dealt with too. Missing values in the form of “\N” are present in some of the columns, the qualifying missing values are expected as explained before.

### Pit stops

In [27]:
results = pd.read_csv("data/pit_stops.csv") 
data_profiling("data/pit_stops.csv")

Features:
 ['raceId', 'driverId', 'stop', 'lap', 'time', 'duration', 'milliseconds']
Number of rows: 11030

Feature: raceId
count    11030.000000
mean       976.301995
std         89.381612
min        841.000000
25%        894.000000
50%        967.000000
75%       1056.000000
max       1133.000000
Name: raceId, dtype: float64

Feature: driverId
count    11030.000000
mean       543.368359
std        385.362455
min          1.000000
25%         20.000000
50%        817.000000
75%        832.000000
max        860.000000
Name: driverId, dtype: float64

Feature: stop
count    11030.000000
mean         1.796283
std          1.538376
min          1.000000
25%          1.000000
50%          2.000000
75%          2.000000
max         70.000000
Name: stop, dtype: float64

Feature: lap
count    11030.000000
mean        25.327561
std         14.904086
min          1.000000
25%         13.000000
50%         25.000000
75%         36.000000
max         78.000000
Name: lap, dtype: float64

Feature: time
count        11030
unique        7998
top       15:05:16
freq             6
Name: time, dtype: object

Feature: duration
count      11030
unique      7444
top       22.534
freq           8
Name: duration, dtype: object

Feature: milliseconds
count    1.103000e+04
mean     8.507410e+04
std      3.109475e+05
min      1.289700e+04
25%      2.193625e+04
50%      2.360450e+04
75%      2.646375e+04
max      3.069017e+06
Name: milliseconds, dtype: float64

Missing values per column:
 raceId          0
driverId        0
stop            0
lap             0
time            0
duration        0
milliseconds    0
dtype: int64

Unique values per column:
raceId: 274 unique values
driverId: 74 unique values
stop: 14 unique values
lap: 74 unique values
time: 7998 unique values
duration: 7444 unique values
milliseconds: 7444 unique values

Duplicate rows: 0

This dataset contains pitstops for every race, it has id columns that will make it possible to link them to each constructor and driver. It contains the stops per race, the lap in which it was done, the duration  and no missing values are included, this dataset has some variables of interest that will be of use for our analysis. After the 2014 cutoff, pit stop strategies became more standardized due to stable regulations, this will make data more symmetrical. Time variables need cleaning.

### Every dataset of interest will now be merged into a single dataset before doing feature engineering. The results dataset will be used as the anchor dataset since it is the one that includes all the identifications.

In [41]:
for file in csv_files:
    file_path = os.path.join(data_folder, file)
    table_name = file.replace('.csv', '')  
    duckdb.register(table_name, duckdb.read_csv(file_path))
    duckdb.sql(f"SELECT * FROM {table_name} LIMIT 5").show()

┌───────────┬─────────────┬──────────────────────┬───┬──────────┬─────────┬───────┬──────────────────────┐
│ circuitId │ circuitRef  │         name         │ … │   lat    │   lng   │  alt  │         url          │
│   int64   │   varchar   │       varchar        │   │  double  │ double  │ int64 │       varchar        │
├───────────┼─────────────┼──────────────────────┼───┼──────────┼─────────┼───────┼──────────────────────┤
│         1 │ albert_park │ Albert Park Grand …  │ … │ -37.8497 │ 144.968 │    10 │ http://en.wikipedi…  │
│         2 │ sepang      │ Sepang Internation…  │ … │  2.76083 │ 101.738 │    18 │ http://en.wikipedi…  │
│         3 │ bahrain     │ Bahrain Internatio…  │ … │  26.0325 │ 50.5106 │     7 │ http://en.wikipedi…  │
│         4 │ catalunya   │ Circuit de Barcelo…  │ … │    41.57 │ 2.26111 │   109 │ http://en.wikipedi…  │
│         5 │ istanbul    │ Istanbul Park        │ … │  40.9517 │  29.405 │   130 │ http://en.wikipedi…  │
├───────────┴─────────────┴──────────────────────┴───┴──────────┴─────────┴───────┴──────────────────────┤
│ 5 rows                                                                             9 columns (7 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────┘

┌──────────┬──────────────┐
│ statusId │    status    │
│  int64   │   varchar    │
├──────────┼──────────────┤
│        1 │ Finished     │
│        2 │ Disqualified │
│        3 │ Accident     │
│        4 │ Collision    │
│        5 │ Engine       │
└──────────┴──────────────┘

┌────────┬──────────┬───────┬──────────┬──────────┬──────────────┐
│ raceId │ driverId │  lap  │ position │   time   │ milliseconds │
│ int64  │  int64   │ int64 │  int64   │ varchar  │    int64     │
├────────┼──────────┼───────┼──────────┼──────────┼──────────────┤
│    841 │       20 │     1 │        1 │ 1:38.109 │        98109 │
│    841 │       20 │     2 │        1 │ 1:33.006 │        93006 │
│    841 │       20 │     3 │        1 │ 1:32.713 │        92713 │
│    841 │       20 │     4 │        1 │ 1:32.803 │        92803 │
│    841 │       20 │     5 │        1 │ 1:32.342 │        92342 │
└────────┴──────────┴───────┴──────────┴──────────┴──────────────┘

┌──────────┬────────┬──────────┬───────────────┬────────┬───┬──────────────┬────────────┬────────────────┬──────────┐
│ resultId │ raceId │ driverId │ constructorId │ number │ … │ milliseconds │ fastestLap │ fastestLapTime │ statusId │
│  int64   │ int64  │  int64   │     int64     │ int64  │   │   varchar    │  varchar   │    varchar     │  int64   │
├──────────┼────────┼──────────┼───────────────┼────────┼───┼──────────────┼────────────┼────────────────┼──────────┤
│        1 │   1061 │      830 │             9 │     33 │ … │ 1538426      │ 14         │ 1:30.013       │        1 │
│        2 │   1061 │        1 │           131 │     44 │ … │ 1539856      │ 17         │ 1:29.937       │        1 │
│        3 │   1061 │      822 │           131 │     77 │ … │ 1545928      │ 17         │ 1:29.958       │        1 │
│        4 │   1061 │      844 │             6 │     16 │ … │ 1549704      │ 16         │ 1:30.163       │        1 │
│        5 │   1061 │      846 │             1 │      4 │ … │ 1562537      │ 16         │ 1:30.566       │        1 │
├──────────┴────────┴──────────┴───────────────┴────────┴───┴──────────────┴────────────┴────────────────┴──────────┤
│ 5 rows                                                                                       16 columns (9 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

┌──────────┬────────────┬─────────┬─────────┬──────────┬────────────┬────────────┬─────────────┬───────────────────────┐
│ driverId │ driverRef  │ number  │  code   │ forename │  surname   │    dob     │ nationality │          url          │
│  int64   │  varchar   │ varchar │ varchar │ varchar  │  varchar   │    date    │   varchar   │        varchar        │
├──────────┼────────────┼─────────┼─────────┼──────────┼────────────┼────────────┼─────────────┼───────────────────────┤
│        1 │ hamilton   │ 44      │ HAM     │ Lewis    │ Hamilton   │ 1985-01-07 │ British     │ http://en.wikipedia…  │
│        2 │ heidfeld   │ \N      │ HEI     │ Nick     │ Heidfeld   │ 1977-05-10 │ German      │ http://en.wikipedia…  │
│        3 │ rosberg    │ 6       │ ROS     │ Nico     │ Rosberg    │ 1985-06-27 │ German      │ http://en.wikipedia…  │
│        4 │ alonso     │ 14      │ ALO     │ Fernando │ Alonso     │ 1981-07-29 │ Spanish     │ http://en.wikipedia…  │
│        5 │ kovalainen │ \N      │ KOV     │ Heikki   │ Kovalainen │ 1981-10-19 │ Finnish     │ http://en.wikipedia…  │
└──────────┴────────────┴─────────┴─────────┴──────────┴────────────┴────────────┴─────────────┴───────────────────────┘

┌────────┬───────┬───────┬───────────┬──────────────────────┬───┬────────────┬────────────┬─────────────┬─────────────┐
│ raceId │ year  │ round │ circuitId │         name         │ … │ quali_date │ quali_time │ sprint_date │ sprint_time │
│ int64  │ int64 │ int64 │   int64   │       varchar        │   │  varchar   │  varchar   │   varchar   │   varchar   │
├────────┼───────┼───────┼───────────┼──────────────────────┼───┼────────────┼────────────┼─────────────┼─────────────┤
│      1 │  2009 │     1 │         1 │ Australian Grand P…  │ … │ \N         │ \N         │ \N          │ \N          │
│      2 │  2009 │     2 │         2 │ Malaysian Grand Prix │ … │ \N         │ \N         │ \N          │ \N          │
│      3 │  2009 │     3 │        17 │ Chinese Grand Prix   │ … │ \N         │ \N         │ \N          │ \N          │
│      4 │  2009 │     4 │         3 │ Bahrain Grand Prix   │ … │ \N         │ \N         │ \N          │ \N          │
│      5 │  2009 │     5 │         4 │ Spanish Grand Prix   │ … │ \N         │ \N         │ \N          │ \N          │
├────────┴───────┴───────┴───────────┴──────────────────────┴───┴────────────┴────────────┴─────────────┴─────────────┤
│ 5 rows                                                                                         18 columns (9 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

┌───────────────┬────────────────┬────────────┬─────────────┬──────────────────────────────────────────────────────────┐
│ constructorId │ constructorRef │    name    │ nationality │                           url                            │
│     int64     │    varchar     │  varchar   │   varchar   │                         varchar                          │
├───────────────┼────────────────┼────────────┼─────────────┼──────────────────────────────────────────────────────────┤
│             1 │ mclaren        │ McLaren    │ British     │ http://en.wikipedia.org/wiki/McLaren                     │
│             2 │ bmw_sauber     │ BMW Sauber │ German      │ http://en.wikipedia.org/wiki/BMW_Sauber                  │
│             3 │ williams       │ Williams   │ British     │ http://en.wikipedia.org/wiki/Williams_Grand_Prix_Engin…  │
│             4 │ renault        │ Renault    │ French      │ http://en.wikipedia.org/wiki/Renault_in_Formula_One      │
│             5 │ toro_rosso     │ Toro Rosso │ Italian     │ http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso         │
└───────────────┴────────────────┴────────────┴─────────────┴──────────────────────────────────────────────────────────┘

┌────────────────────────┬────────┬───────────────┬────────┬──────────┬──────────────┬───────┐
│ constructorStandingsId │ raceId │ constructorId │ points │ position │ positionText │ wins  │
│         int64          │ int64  │     int64     │ double │  int64   │   varchar    │ int64 │
├────────────────────────┼────────┼───────────────┼────────┼──────────┼──────────────┼───────┤
│                      1 │     18 │             1 │   14.0 │        1 │ 1            │     1 │
│                      2 │     18 │             2 │    8.0 │        3 │ 3            │     0 │
│                      3 │     18 │             3 │    9.0 │        2 │ 2            │     0 │
│                      4 │     18 │             4 │    5.0 │        4 │ 4            │     0 │
│                      5 │     18 │             5 │    2.0 │        5 │ 5            │     0 │
└────────────────────────┴────────┴───────────────┴────────┴──────────┴──────────────┴───────┘

┌───────────┬────────┬──────────┬───────────────┬────────┬──────────┬──────────┬──────────┬──────────┐
│ qualifyId │ raceId │ driverId │ constructorId │ number │ position │    q1    │    q2    │    q3    │
│   int64   │ int64  │  int64   │     int64     │ int64  │  int64   │ varchar  │ varchar  │ varchar  │
├───────────┼────────┼──────────┼───────────────┼────────┼──────────┼──────────┼──────────┼──────────┤
│         1 │     18 │        1 │             1 │     22 │        1 │ 1:26.572 │ 1:25.187 │ 1:26.714 │
│         2 │     18 │        9 │             2 │      4 │        2 │ 1:26.103 │ 1:25.315 │ 1:26.869 │
│         3 │     18 │        5 │             1 │     23 │        3 │ 1:25.664 │ 1:25.452 │ 1:27.079 │
│         4 │     18 │       13 │             6 │      2 │        4 │ 1:25.994 │ 1:25.691 │ 1:27.178 │
│         5 │     18 │        2 │             2 │      3 │        5 │ 1:25.960 │ 1:25.518 │ 1:27.236 │
└───────────┴────────┴──────────┴───────────────┴────────┴──────────┴──────────┴──────────┴──────────┘

┌───────────────────┬────────┬──────────┬────────┬──────────┬──────────────┬───────┐
│ driverStandingsId │ raceId │ driverId │ points │ position │ positionText │ wins  │
│       int64       │ int64  │  int64   │ double │  int64   │   varchar    │ int64 │
├───────────────────┼────────┼──────────┼────────┼──────────┼──────────────┼───────┤
│                 1 │     18 │        1 │   10.0 │        1 │ 1            │     1 │
│                 2 │     18 │        2 │    8.0 │        2 │ 2            │     0 │
│                 3 │     18 │        3 │    6.0 │        3 │ 3            │     0 │
│                 4 │     18 │        4 │    5.0 │        4 │ 4            │     0 │
│                 5 │     18 │        5 │    4.0 │        5 │ 5            │     0 │
└───────────────────┴────────┴──────────┴────────┴──────────┴──────────────┴───────┘

┌──────────────────────┬────────┬───────────────┬────────┬─────────┐
│ constructorResultsId │ raceId │ constructorId │ points │ status  │
│        int64         │ int64  │     int64     │ double │ varchar │
├──────────────────────┼────────┼───────────────┼────────┼─────────┤
│                    1 │     18 │             1 │   14.0 │ \N      │
│                    2 │     18 │             2 │    8.0 │ \N      │
│                    3 │     18 │             3 │    9.0 │ \N      │
│                    4 │     18 │             4 │    5.0 │ \N      │
│                    5 │     18 │             5 │    2.0 │ \N      │
└──────────────────────┴────────┴───────────────┴────────┴─────────┘

┌────────┬──────────┬───────┬───────┬──────────┬──────────┬──────────────┐
│ raceId │ driverId │ stop  │  lap  │   time   │ duration │ milliseconds │
│ int64  │  int64   │ int64 │ int64 │   time   │ varchar  │    int64     │
├────────┼──────────┼───────┼───────┼──────────┼──────────┼──────────────┤
│    841 │      153 │     1 │     1 │ 17:05:23 │ 26.898   │        26898 │
│    841 │       30 │     1 │     1 │ 17:05:52 │ 25.021   │        25021 │
│    841 │       17 │     1 │    11 │ 17:20:48 │ 23.426   │        23426 │
│    841 │        4 │     1 │    12 │ 17:22:34 │ 23.251   │        23251 │
│    841 │       13 │     1 │    13 │ 17:24:10 │ 23.842   │        23842 │
└────────┴──────────┴───────┴───────┴──────────┴──────────┴──────────────┘

┌───────┬──────────────────────────────────────────────────────┐
│ year  │                         url                          │
│ int64 │                       varchar                        │
├───────┼──────────────────────────────────────────────────────┤
│  2009 │ http://en.wikipedia.org/wiki/2009_Formula_One_season │
│  2008 │ http://en.wikipedia.org/wiki/2008_Formula_One_season │
│  2007 │ http://en.wikipedia.org/wiki/2007_Formula_One_season │
│  2006 │ http://en.wikipedia.org/wiki/2006_Formula_One_season │
│  2005 │ http://en.wikipedia.org/wiki/2005_Formula_One_season │
└───────┴──────────────────────────────────────────────────────┘

┌──────────┬────────┬──────────┬───────────────┬─────────┬───┬─────────┬────────────────┬─────────────────┬──────────┐
│ resultId │ raceId │ driverId │ constructorId │ number  │ … │  rank   │ fastestLapTime │ fastestLapSpeed │ statusId │
│  int64   │ int64  │  int64   │     int64     │ varchar │   │ varchar │    varchar     │     varchar     │  int64   │
├──────────┼────────┼──────────┼───────────────┼─────────┼───┼─────────┼────────────────┼─────────────────┼──────────┤
│        1 │     18 │        1 │             1 │ 22      │ … │ 2       │ 1:27.452       │ 218.300         │        1 │
│        2 │     18 │        2 │             2 │ 3       │ … │ 3       │ 1:27.739       │ 217.586         │        1 │
│        3 │     18 │        3 │             3 │ 7       │ … │ 5       │ 1:28.090       │ 216.719         │        1 │
│        4 │     18 │        4 │             4 │ 5       │ … │ 7       │ 1:28.603       │ 215.464         │        1 │
│        5 │     18 │        5 │             1 │ 23      │ … │ 1       │ 1:27.418       │ 218.385         │        1 │
├──────────┴────────┴──────────┴───────────────┴─────────┴───┴─────────┴────────────────┴─────────────────┴──────────┤
│ 5 rows                                                                                        18 columns (9 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

Verifying that the id counts are coherent

In [55]:
duckdb.sql("SELECT COUNT(*) - COUNT(DISTINCT raceId) FROM races;")

┌─────────────────────────────────────────┐
│ (count_star() - count(DISTINCT raceId)) │
│                  int64                  │
├─────────────────────────────────────────┤
│                                       0 │
└─────────────────────────────────────────┘

In [56]:
duckdb.sql("SELECT COUNT(*) - COUNT(DISTINCT driverId) FROM drivers;")

┌───────────────────────────────────────────┐
│ (count_star() - count(DISTINCT driverId)) │
│                   int64                   │
├───────────────────────────────────────────┤
│                                         0 │
└───────────────────────────────────────────┘

In [57]:
duckdb.sql("SELECT COUNT(*) - COUNT(DISTINCT constructorId) FROM constructors;")

┌────────────────────────────────────────────────┐
│ (count_star() - count(DISTINCT constructorId)) │
│                     int64                      │
├────────────────────────────────────────────────┤
│                                              0 │
└────────────────────────────────────────────────┘

results

      → join drivers
      
      → join constructors
      
      → join races
      
          → join circuits

      LATER
      → join pit stops
      
      → join lap times

In [68]:
duckdb.sql("DESCRIBE drivers")

┌─────────────┬─────────────┬─────────┬─────────┬─────────┬───────┐
│ column_name │ column_type │  null   │   key   │ default │ extra │
│   varchar   │   varchar   │ varchar │ varchar │ varchar │ int32 │
├─────────────┼─────────────┼─────────┼─────────┼─────────┼───────┤
│ driverId    │ BIGINT      │ YES     │ NULL    │ NULL    │  NULL │
│ driverRef   │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ number      │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ code        │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ forename    │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ surname     │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ dob         │ DATE        │ YES     │ NULL    │ NULL    │  NULL │
│ nationality │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ url         │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
└─────────────┴─────────────┴─────────┴─────────┴─────────┴───────┘

In [69]:
duckdb.sql("DESCRIBE results")

┌─────────────────┬─────────────┬─────────┬─────────┬─────────┬───────┐
│   column_name   │ column_type │  null   │   key   │ default │ extra │
│     varchar     │   varchar   │ varchar │ varchar │ varchar │ int32 │
├─────────────────┼─────────────┼─────────┼─────────┼─────────┼───────┤
│ resultId        │ BIGINT      │ YES     │ NULL    │ NULL    │  NULL │
│ raceId          │ BIGINT      │ YES     │ NULL    │ NULL    │  NULL │
│ driverId        │ BIGINT      │ YES     │ NULL    │ NULL    │  NULL │
│ constructorId   │ BIGINT      │ YES     │ NULL    │ NULL    │  NULL │
│ number          │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ grid            │ BIGINT      │ YES     │ NULL    │ NULL    │  NULL │
│ position        │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ positionText    │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ positionOrder   │ BIGINT      │ YES     │ NULL    │ NULL    │  NULL │
│ points          │ DOUBLE      │ YES     │ NULL    │ NULL    │  NULL │
│ laps            │ BIGINT      │ YES     │ NULL    │ NULL    │  NULL │
│ time            │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ milliseconds    │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ fastestLap      │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ rank            │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ fastestLapTime  │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ fastestLapSpeed │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ statusId        │ BIGINT      │ YES     │ NULL    │ NULL    │  NULL │
├─────────────────┴─────────────┴─────────┴─────────┴─────────┴───────┤
│ 18 rows                                                   6 columns │
└─────────────────────────────────────────────────────────────────────┘

In [ ]:
#driverId is the link between these two